<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <a href="{% url 'todo_create' %}">Add New Todo</a>
    <ul>
        {% for todo in todos %}
            <li>
                {% if todo.is_resolved %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                {% if todo.due_date %}
                    (Due: {{ todo.due_date }})
                {% endif %}
                <a href="{% url 'todo_update' todo.pk %}">Edit</a>
                <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No todos yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
